nav li a{
    text-decoration: none;
    color: blueviolet;
}
nav li a:hover{
    color: black;
}

nav li{
    list-style: none;
    display: inline;
    margin: 15px;
    
}


nav li:hover{
    background-color: rgb(166, 255, 0);
    margin: 15px 15px 15px 15px;
    border: 1px solid black;
    padding: 15px 15px;
    border-radius: 5px;
    
}


footer{
    text-align: center;
}